body {
    padding-bottom: 4rem;
}

.row {
    margin-top: 1rem;
}

.btn {
    background-color: darksalmon;
    margin-top: 0.50rem;
    
}

.btn-primary {
    --bs-btn-hover-bg: crimson;
}

.footer-bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.avatar {
    display: flex;
    align-items: center;
    border-radius: 32px 32px 32px 32px;
    margin-bottom: 0.33rem;
    word-wrap: break-word;
}
.avatar__img {
    border-radius: 50%;
    width: 64px;
    margin-right: 1rem;

}

.list-group-item {
    display: flex;
}

.remove-button {
    display: flex;
}

.date-picker {
    width: 50%;
}

.form-label {
    margin-bottom: 0;
    margin-top: 0.5rem;
}
